<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.css">

</head>
<body>
    <div class="main-container">
        <div class="users-bg">
            <img src="/assets/users-background.png" alt="">
        </div>
        <div class="container-fluid">
            <div class="inner-container"> 
                <div class="inner-inner-container">
                    <div class="input-container">
                        <h1>Login</h1>
                        <form id="signin-form">
                            <div class="error-message" id="global-label"></div>
                            <div class="input-container">
                                <input type="text" id="email" name="email" placeholder=" ">
                                <span class="placeholder-label" id="email-label">Email</span>
                            </div>
                            <div class="input-container">
                                <input type="password" id="password" name="password" placeholder=" ">
                                <span class="placeholder-label" id="password-label">Password</span>
                            </div>
    
                            <div class="button-container1">
                                <a href="#" class="forgot-btn">forgot password?</a>
                                <button class="submit-btn" type="submit">Submit</button>
                            </div>
                            <span class="signin-or">or</span>
                            <hr class="login-hr" style="border: none; border-top: 1px solid #fff; width: 100%;"/>
                            <a href="#" class="google-signin">
                                <span class="google-signin-text">Login using google</span>
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50" fill="#fff">
                                    <path d="M 25.996094 48 C 13.3125 48 2.992188 37.683594 2.992188 25 C 2.992188 12.316406 13.3125 2 25.996094 2 C 31.742188 2 37.242188 4.128906 41.488281 7.996094 L 42.261719 8.703125 L 34.675781 16.289063 L 33.972656 15.6875 C 31.746094 13.78125 28.914063 12.730469 25.996094 12.730469 C 19.230469 12.730469 13.722656 18.234375 13.722656 25 C 13.722656 31.765625 19.230469 37.269531 25.996094 37.269531 C 30.875 37.269531 34.730469 34.777344 36.546875 30.53125 L 24.996094 30.53125 L 24.996094 20.175781 L 47.546875 20.207031 L 47.714844 21 C 48.890625 26.582031 47.949219 34.792969 43.183594 40.667969 C 39.238281 45.53125 33.457031 48 25.996094 48 Z"></path>
                                  </svg>
                            </a>
                            <a href="#" class="to-signup-btn">Register new user</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    <script src="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>